/*
  Examples:
  SELECTOR {
    // PUT MOSTLY SUPPORTED PROPS AND VALS AT TOP
    prop: value;
  }
*/

* {
  margin: 0;
}

html {
  font-family: sans-serif;
}

body {
  background-color: grey;
}

/* Jason is doing this because the resolution is low
   for his laptop*/
section {
  width: 1024px;
}

.grid__row {
  /* Hack for display: inline-block
     - removing default space between elements*/
  font-size: 0;
}

/*[class*="grid__col"] {*/
.grid__col {
  font-size: 12px;
}

.listicle {
  display: inline-block;
  width: 334px;
  height: 350px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  padding-bottom: 19px;
}

.listicle:nth-child(3) {
  margin-right: 0;
}

.listicle__title {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
}

.listicle__date {
  display: inline-block;
  margin-bottom: 25px;
}

.listicle__summary {
  margin-bottom: 25px;
}

.listicle__link {
  display: block;
  text-align: center;
  color: rgb(255, 0, 0);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
