   body {
    background-image: url("../assets/bg.jpg");
}

.social {
    display: block;
    width: 60;
    height: 60;
    padding-bottom: 0%;
    border: 0px solid white;
    text-align: right;
    position: relative;
    overflow: auto;
}


 .main-nav a {
  width: 250px;
  height: 40px;
  background-color: rgb(180,41,46) ;
  display: inline-block;

}


  .content {
    overflow: auto;
    height: 100%
  }


.discript {

}
