body {
    background-image: url("assets/bg.jpg");
}

.social {
    display: block;
    width: 60;
    height: 60;
    padding-bottom: 0%;
    border: 0px solid white;
    text-align: right;
    position: relative;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

 li {
  display: inline-block;
  list-style: none;
  padding: 5px 10px
  background-color; grey;
  text-align: center;
  font-size: 1.3rem;
  width: 80px;
  border: 2px 
}


  .content {
    overflow: auto;
    height: 100%
  }


.discript {

}
