* {
  margin: 0;
}

html {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

body {
  background-color: rgba (0, 0, 0, 0.5);
}


.wrapper {
  width:1024px;
  margin: 0 auto;
  }

.topOfPage {
  margin-left:auto;
  margin-right:auto;
  position: inherit;

}
.border__bottom {
  border-bottom: 3px solid rgba(127, 140, 141, .5)
}

.socialMediaLinks {
  display: block;
  text-align: right;
  margin: 10px;
}
.socialMediaLinks img {
  border-bottom: 3px solid rgba(127, 140, 141, .5)
}
.navMenuBar {
  font-size: 0;
}
.navMenuBar__link {
  display: inline-block;
  width: 246px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 16px;
  background-color: rgb(180, 41, 46);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
}


.navMenuBar__link::before {
   content: " — ";
}
.navMenuBar__link::after {
   content: " — "
}
.carousel {
  position: relative;
  font-size: 0;
  text-align: left;
  display: inline-block;
  /*box-sizing: border-box;*/
  margin-bottom: 10px;

  }

.carousel ol {
  list-style: none;
  padding: 0;
  width: 1024px;
  height: 330px;
  border-bottom: 3px solid rgba(127, 140, 141,1.0);
  margin-bottom: 20px;

}
.carousel li {
  width: 100%;
  height: 330px;
  box-sizing: border-box;
  border: solid 10px rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.carousel img {
  margin: 0px;
  box-sizing: border-box;
  height: auto;
  }
.carousel__base {
 position: absolute;
 left: 0px;
 top: -100px;
 width: 125%;
 z-index: 2;
}
.carousel__grid {
position: absolute;
left: 0px;
top: 0px;
height: 200%;
z-index: 30;
opacity: 0.35;
}
.carousel__logo{
position: absolute;
width: 40%;
left: 0px;
top: 40px;
z-index: 40;
}

.grid__row {
  font-size: 0;
}

.carousel__indicator {
  display: block;
  height: 20px;
  width: auto;
  margin-top: 20px
  margin-bottom:-5px;
  text-align: center;
}
.carousel__indicator--dot {
  height: 9px;
  width: 9x;
  border-radius: 9px;
  border: 9px solid rgb(255, 255, 255);
  margin-right: 12px;

}
/*[class*="grid__col"] {
.grid__col {
  font-size: 12px;
}
*/

.blog {
  display: inline-block;
  width: 334px;
  height: 350px;
  margin-right: 10px;
  margin-bottom: 35px;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  padding-bottom: 19px;
  box-sizing: border-box;
  border-bottom: 3px solid rgba(127, 140, 141,1.0)
}
.blog:nth-child(3) {
  margin-right: 0px;
}

.blog__title {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 25px;
}
 .blog__time {
   display: inline-block;
   margin-bottom: 25px;
   font-size: 15px;
   color: rgb(127, 140, 141);
 }
 .blog__preview {
   font-size: 15px;
   margin-bottom: 25px;
   line-height: 150%;
 }

 .blog__link {
   font-size: 16px;
   text-align: center;
   display: block;
   color: rgb(179, 0, 0);
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 600;
 }
 .blog__link::before {
    content: "["
 }
 .blog__link::after {
    content: "]"
}

.imageSection {
  /*font-size: 0;*/
  position: relative;

  }

.imageSection_col {

  clear: both;
  column-count:3;
  -moz-column-count:3;
  -webkit-column-count: 3

  column-gap:20px;
  -moz-column-gap:20px;
  -webkit-column-gap: 20px;
 height: 475px
 margin-bottom: 22px;
}
.pointer__wrapper {
  border-bottom: 3px solid rgba(127, 140, 141,1.0);
}
.imageSection__pointer {
  display: inline-block;
  height: 95px;
  width: 235px;
  margin-right: 10px;
  margin-bottom: 16px;
  background-color: rgb(180, 41, 46);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding-top: 35px;
  padding-left: 8px;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 65px;
  left:-970px;
  box-sizing: border-box;

}
.triangle {
    position: relative;
}
.triangle > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 47px solid transparent;
    border-left: 47px solid #b4292e;
    left: 235px;
    top: 0px;
}

.imageSection__text {
  color: white;
  margin: 30px;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 80%;
  font-size: 40px;
  font-weight: 600;
  padding: 4px;
  text-transform: uppercase;
  float: left;
}



.imageSection__small {

  position: relative;
  float: left;
  width: 334px;
  height: 230px;
  box-sizing: border-box;
  overflow: hidden;
  border: solid 5px rgb(255, 255, 255);
  margin-right: 10px;
  margin-bottom: 5px;
}

.imageSection__small--img1 {
  display: block;
  width: auto;
  height: 100%;
  left: 0;
  float: right;

}

.imageSection__small--img2 {
  display: block;
  width: auto;
  height: 100%
  position: absolute;
  right: 0;
}
.imageSection__medium {

  position: relative;
  float: left;
  width: 676px;
  height: 230px;
  box-sizing: border-box;
  border: solid 5px rgb(255, 255, 255);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  overflow: hidden;
}
.imageSection__medium img {

  width: auto;
  height: 100%
  position: absolute;
  left: 50%;
  top: 50%;

  margin-top: -100px;
}

.imageSection__tall {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 333px;
  height: 475px;
  overflow: hidden;
  border: solid 5px rgb(255, 255, 255);
  margin-left: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.imageSection__tall img {
  display: block;
  height: 100%;
  width: auto;
  float: right;
  right: 50%;
  top: 50%;
  margin-right: -95px;

}



.imageSection__sk8 {
  float: left;
  clear: both;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;

  column-count:10;
  -moz-column-count:10;
  -webkit-column-count: 10;

  column-gap:20px;
  -moz-column-gap:20px;
  -webkit-column-gap: 20px;

  height: 295px
  width: 1024px;
  margin-bottom: 22px;

}

.pageEnd {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 1024px;
  height: 360px;
  padding: 33px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px rgba(149, 165, 166, 0.5);
  margin-top: 22px;
  }

.pageEnd__wrapper {
  height: auto;
  width: 490px;


}
.pageEnd__title {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
  }

  .pageEnd__text{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 150%;
  }
  .pageEnd__graySocialMediaLinks img {
    display: inline;
    height: 30px;
    width: 30px;
    margin-right: 3px;
  }
  /*.pageEnd__graySocialMediaLinks {
    display: inline;
    height: 30px;
    width: 30px;
    margin: 10px;
  }*/


  .submit {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 246px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 16px;
    background-color: rgb(180, 41, 46);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
  }

  .form__wrapper {
    margin: 16px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 435px;
    font-size: 18px;
    font-weight: 300;


  }

  .form__wrapper--inputs {
    display: inline;
    width: 100%;
    height: 43px;
    margin-bottom: 14px;
    border-top: 3px solid rgba(149, 165, 166, 0.5);
    border-right: 1px solid rgba(149, 165, 166, 0.5);
    border-bottom: 1px solid rgba(149, 165, 166, 0.5);
    border-left: 3px solid rgba(149, 165, 166, 0.5);
  }
  .form__wrapper--inputs::-webkit-input-placeholder {
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;

}

  .form__wrapper--inputs:nth-child(3) {
    height: 95px;
  }
