
head {
  display:inline;
  border: 28px;
  width: 248px;
  height: 40px;

}

body {
  display: inline-block;
  background-image: url( "/assets/bg.jpg") no-repeat center
  background-size: cover;
  font-family: arial;
  position: absolute;
}

h2 {
  color:black;
  font-family:arial;
}
p {
background: white;
color: black;
padding: 10px;
}
