   body {
    background-image: url("../assets/bg.jpg");
    padding: 0;

  }


.social {
    display: block;
    width: 60;
    height: 60;
    padding-bottom: 0%;
    border: 0px solid white;
    text-align: right;
    position: relative;
    overflow: auto;
}
.wrapper  {

  vertical-align: top;
  width: 1024px
  margin: 0 auto;



  }


.main-nav a {
  width: 220px;
  height: 40px;
  vertical-align: top;
  background-color: rgb(180,41,46);
  display: inline-block;
  text-align:center;
  padding-top: 7px;
  padding-bottom: 2px;
  color: #ffffff;

  }


  .content {
    overflow: auto;

  }


.discript {

}
